<a href="https://colab.research.google.com/github/SabaSiyal97/SE-Assignment/blob/master/Saba's_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment No: 2

Submitted To: Sir Jawad Haider

Submitted By: Saba E Yasrab

1. What is the data type of the following?
   a) 42
   b) 3.14
   c) "Hello"
   d) True
   e) None

In [ ]:
print(type(42))
print(type(3.14))
print(type("Hello"))
print(type(True))
print(type(None))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

2. Convert the following:
   a) Convert 7.8 to an integer
   b) Convert 10 to a float
   c) Convert 0 to a boolean
   d) Convert "42" to an integer

In [ ]:
a= int(7.8)
print(type(a))

b= float(10)
print(type(b))

c= bool(0)
print(type(c))

d= int("42")
print(type(d))
# In this example, type(x) returns <class 'int'>, indicating that x is an integer.

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'int'>

3. What will be the output of the following?
   print(type(str(5)))

In [ ]:
print(type(str(5)))
#The str() function in Python converts a given object into its string representation. It's commonly used to ensure that a value is in string form, which is especially useful when concatenating with other strings or when you need to display or log data as text.

<class 'str'>

4. Create a variable `my_var` and assign it the value 10. Then, print its type.

In [ ]:
my_var = 10
print(type(a))
# checking type of variable

<class 'int'>

5. Calculate the following:
   a) 15 + 7
   b) 20 - 8
   c) 6 * 4
   d) 40 / 5
   e) 17 // 3
   f) 17 % 3
   g) 2 ** 4

In [ ]:
print(15 + 7)
print(20 - 8)
print(6 * 4)
print(40 / 5)
print(17 // 3)
print(17 % 3)
print(2 ** 4)

22
12
24
8.0
5
2
16

6. What is the output of the following expression?
    print(20 - 5  * 3)

In [ ]:
print(20 - 5  * 3)
#Output is 5 due to it's precedence level because first it'll perform multiplication operation then Subtraction.

5

7. Add parentheses to the expression `20 - 5  * 3` to make it evaluate to 45.

In [ ]:
print((20 - 5)  * 3)  # I'm adding parenthesis then it'll first execute breckets & I'm getting desired OUTPUT.

45

8. Calculate the area of a circle with radius 5. Use 3.14 for pi.

In [ ]:
radius=5
pi=3.14
area = pi * radius * radius
print(area)

78.5

9. Use the `input()` function to get two numbers from the user, then print their product.

In [ ]:
num1 = int(input("Enter a number: "))
num2 = int(input("Enter a number: "))
product= num1 * num2
print("The product of", num1, "and", num2, "is:", product)

Enter a number: 5
Enter a number: 4
The product of 5 and 4 is: 20

10. Initialize a variable `x` with the value 5. Then increment it by 3 and print the result.

In [ ]:
x= 5
x += 3

print(x)

8

11. Create two variables `a` and `b` with values 10 and 20 respectively. Swap their values and print them.

In [ ]:
a= 10
b= 20
a,b = b,a

print(a, "," ,b)

20 , 10

12. Create two string variables with your first and last name. Concatenate them with a space in between and print the result.

In [ ]:
firstname = "Saba"
lastname = "Siyal"

print("My name is ", firstname, lastname)

My name is  Saba Siyal

13. Use an f-string to print "My name is [your_name] and I am [your_age] years old."

In [ ]:
name = "Saba E Yasrab"
age = 22

print(f"My name is {name} and I am {age} years old.")

My name is Saba E Yasrab and I am 22 years old.

14. Use f-strings to print "The sum of 5 and 3 is 8".

In [ ]:
num1 = 5
num2 = 3

print(f"The sum of {num1} and {num2} is {num1 + num2}")

The sum of 5 and 3 is 8

15. Print the following text exactly as shown:
    
    She said, "That's a great idea!"

In [ ]:
print(''' She said, "That's a great idea!" ''')

 She said, "That's a great idea!"

16. Create a multiline string that prints the following:
    ```
    Line 1
    Line 2
    Line 3
    ```

In [ ]:
print(""" ```
    Line 1
    Line 2
    Line 3
    ```
""")

 ```
    Line 1
    Line 2
    Line 3
    ```

17. What is the output of the following expressions?
    a) 5 > 3
    b) 10 == "10"
    c) True and False
    d) not True
    e) 5 > 3 or 5 < 3

In [ ]:
print(5 > 3) # It will print True if the number 5 is greater than 3
print(10 == "10") # output will show FALSE because its comparing an integer and a string
print(True and False) # simple boolean expression
print(not True) # If an expression is True, applying the NOT operator will make it False.If an expression is False, applying the NOT operator will make it True.
print(5 > 3 or 5 < 3) # This expression will print True because DEFINETLY 5 is greater than 3

True
False
False
False
True

18. Use the `abs()` function to find the absolute value of -15.5

In [ ]:
given_value = abs(-15.5)

print(given_value) #The purpose of abs() is to ensure that a value is always non-negative, regardless of its original sign.

15.5

19. Use the `round()` function to round 3.14159 to three decimal places.

In [ ]:
value = round(3.14159 , 3)
print(value) # The purpose of round() is to simplify numbers by reducing the number of decimal places, which can be useful for displaying results or making calculations more manageable.

3.142

20. Write an if-elif-else statement that prints "Small" if a number is less than 10, "Medium" if it's between 10 and 50, and "Large" if it's greater than 50.

In [ ]:
number = int(input("Enter a number: "))

if number < 10:
 print("Small")
elif 10 <= number <= 50:
 print("Medium")
else:
 print("Large") # The if-elif-else statement in Python is used to execute different blocks of code based on certain conditions

Enter a number: 56
Large

21. Create a program that takes a boolean value as input and prints its string representation.

In [ ]:
bool_input = input("Enter a boolean value: ")
print(str(bool_input))
print(type(bool_input))

Enter a boolean value: 1
1
<class 'str'>

22. Write a function that takes a person's name as an argument and returns a greeting message.

In [ ]:
def greeting(name):
  print(f"Hello {name}")
greeting("Saba!")

Hello Saba!

23. Create a function that takes an integer as input and prints whether it is even or odd.

In [ ]:
num = int(input("Enter a number to check whether it's even or odd: "))
if num % 2 == 0:
        print(f"{num} is Even")
else:
        print(f"{num} is Odd")

Enter a number to check whether it's even or odd: 11
11 is Odd

24. Write a program that takes a number as input and prints whether it is within the range of 1 to 100 (inclusive).

In [ ]:
num = int(input("Enter any number: "))

if 1 <= num <= 100:
 print(f"{num} is within the range.")
else:
  print(f"{num} is not in range.")

Enter any number: 668
668 is not in range.

25. Create a function that calculates the volume of a cube given its side length.

In [ ]:
def cube_volume(length,width,height):
 volume = length*width*height
 print(f"Volume of cube is: {volume}")
cube_volume(5,2,7)

Volume of cube is: 70

26. Create a function that calculates the average of three integers.

In [ ]:
def avg_of_three_nums(num1,num2,num3):
  average = (num1+num2+num3)/3
  return average
avg_of_three_nums(2,4,1)

2.3333333333333335


27. Create a function that converts a decimal number to its binary representation.

In [ ]:
def decimal_to_binary(decimal):
 conversion = bin(decimal)
 return conversion
decimal_to_binary(12)

'0b1100'

28. Write a program that takes three floats as input and prints True if all values are equal, otherwise False.

In [ ]:
num1 = float(input("Enter first float value: "))
num2 = float(input("Enter second float value: "))
num3 = float(input("Enter third float value: "))

if num1 == num2 == num3:
  print(True)
else:
  print(False)

Enter first float value: 11
Enter second float value: 99
Enter third float value: 77
False

29. Write a program that takes two integers as input and prints True if their sum is greater than 100, otherwise False.

In [ ]:
num1 = int(input("Enter first value: "))
num2 = int(input("Enter second value: "))

if num1 + num2 > 100:
  print(True)
else:
  print(False)

Enter first value: 66
Enter second value: 7
False

30. Write a function that takes a string and an integer as arguments and returns a new string with the integer inserted at the beginning.

In [ ]:
def number_string(number,string):
 new_str = str(number)+ " " + string
 return new_str
number_string(13,"Saba")

'13 Saba'

31. Write a program that takes an integer as input and prints whether it is positive, negative, or zero.

In [ ]:
n = int(input("Enter number: "))

if n > 0:
        print("The number is positive.")
elif n < 0:
        print("The number is negative.")
else:
        print("The number is zero.")

Enter number: 33
The number is positive.

32. Create a function that takes three numbers and returns the largest among them.

In [ ]:
def find_largest(num1, num2, num3):
    return max(num1, num2, num3)

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

largest = find_largest(num1, num2, num3)
print(f"The largest number is: {largest}")

Enter the first number: 2
Enter the second number: 55
Enter the third number: 99
The largest number is: 99

33. Create a function that takes a string representing a day of the week (e.g., "Monday") and prints whether it is a weekday or a weekend.

In [ ]:
def find_week(day):
    if day == "Saturday" or "Sunday":
        return "Weekend"
    else:
        return "Weekday"

day = str(input("Enter the day: "))
result = find_week(day)
print(result)

Enter the day: Saturday
Weekend

34. Write a program that converts temperature from Celsius to Fahrenheit. Ask the user for the temperature in Celsius and print the result in Fahrenheit. (Formula: F = C * 9/5 + 32)

In [ ]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = celsius * 9/5 + 32
    return fahrenheit

celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = celsius_to_fahrenheit(celsius)
print(f"The temperature in Fahrenheit is: {fahrenheit:.2f}°F")

Enter temperature in Celsius: 44
The temperature in Fahrenheit is: 111.20°F

35. Write a program that takes a temperature in Celsius as input and prints whether it is cold (below 10°C), warm (10°C to 25°C), or hot (above 25°C).

In [ ]:
def category_of_temp(celsius):
    if celsius < 10:
        return "cold"
    elif 10 <= celsius <= 25:
        return "warm"
    else:
        return "hot"

temperature = int(input("Enter the temperature in Celsius: "))
category = category_of_temp(temperature)
print(f"The temperature is {category}.")

Enter the temperature in Celsius: 33
The temperature is hot.

36. Write a function that takes a string and a boolean as arguments and returns the string repeated twice (‘stringstring’) if the boolean is True, otherwise returns an empty string.

In [ ]:
def function(Saba,shorty):
  if shorty:
    return shorty + shorty
  else:
    return " "
input_string = input("Enter a string: ")
input_boolean = input("Enter True or False: ")
result = function(input_string, input_string)
print(f"Result: '{result}'")

Enter a string: saba
Enter True or False: TRUE
Result: 'sabasaba'

37. Write a program that asks for the user's age and prints whether they are a child (0-12), teenager (13-19), adult (20-59), or senior (60+).

In [ ]:
age = int(input("Enter your age: "))

if age >= 0 and age <=12:
 print("Child")
elif age >= 13 and age <=19:
  print("Teenager.")
elif age >= 20 and age <=59:
  print("Adults.")
else:
  print( "Seniors.")

Enter your age: 22
Adults.

38. Create a function that converts a numerical grade to a letter grade according to the following scale:
    - 90-100: A
    - 80-89: B
    - 70-79: C
    - 60-69: D
    - Below 60: F
   The function should return "Invalid" if the input is not between 0 and 100.

In [ ]:
grade = int(input("Enter marks: "))

if 90 <= grade <= 100:
    print("A")
elif 80 <= grade <= 89:
    print("B")
elif 70 <= grade <= 79:
    print("C")
elif 60 <= grade <= 69:
    print("D")
elif 0 <= grade < 60:
    print("F")
else:
    print("Invalid")

Enter marks: 55
F

39. Write a program that determines if a year is a leap year. (A leap year is divisible by 4, except for century years, which must be divisible by 400).

In [ ]:
year = int(input("Enter the year: "))

if year % 100 == 0 and year % 400 == 0:
  print(f"{year} is a Leap year.")
elif year % 4 == 0 and year % 100 != 0:
  print(f"{year} is a Leap year.")
else:
  print(f"{year} is a Not a Leap year.")

Enter the year: 2025
2025 is a Not a Leap year.

40. Create a simple calculator program that asks for two numbers and an operation (+, -, *, /), then prints the result. Use if-elif-else statements.

In [ ]:
num1 = int(input("Enter first number: "))
operation = input("Enter an operation (+, -, *, /): ")
num2 = int(input("Enter second number: "))

if operation == "+":
  print(num1+num2)
elif operation == "-":
  print(num1-num2)
elif operation == "*":
  print(num1*num2)
elif operation == "/":
  print(num1/num2)
else:
  print("Invalid Operator.")

Enter first number: 12
Enter an operation (+, -, *, /): *
Enter second number: 2
24