<a href="https://colab.research.google.com/github/SabaSiyal97/SE-Assignment/blob/master/Saba's3rd(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Part 3:

1. Write a program that prints the multiplication table (from 1 to 10) of a given number.

In [ ]:
for i in range(1,11):
  print("5 X", i, "=", 5*i)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

2. Write a function that takes a list of integers and returns a new list with all numbers multiplied by 2.

In [ ]:
def list_of_integers(numbers):
  new_list = []
  for number in numbers:
    new_list.append(number ** 2)
  return new_list

numbers = [2,3,4]
list_of_integers(numbers)

[4, 9, 16]

3. Implement a function that takes a list of strings and returns the longest string in the list.

In [ ]:
def list_of_strings(strings):
  new_string = []
  max_string = max(strings)
  for string in strings:
    if string < max_string:
      new_string.append(string)
  return new_string

strings = ["saba","maheen","hahahaahahahha"]
list_of_strings(strings)

['maheen', 'hahahaahahahha']

4. Create a function that takes a list of integers and returns the sum of all numbers in the list using a for loop.

In [ ]:
def  list_of_integers(numbers):
  total_sum = 0
  for number in numbers:
    total_sum += number
  return total_sum

numbers = [1,2,3]
list_of_integers(numbers)

6

5. Write a function that takes a list of integers and returns the number of negative numbers in the list using a for loop.

In [ ]:
def list_of_integers(numbers):
  negative_numbers = []
  for number in numbers:
    if number < 0:
      negative_numbers.append(number)
  return negative_numbers

numbers = [-1,2,-3,4,-5]
list_of_integers(numbers)

[-1, -3, -5]

6. Implement a function that takes a list of integers and returns a new list with all numbers squared using a for loop.

In [ ]:
def list_of_integers(numbers):
  squared_numbers = []
  for number in numbers:
      squared_numbers.append(number ** 2)
  return squared_numbers

numbers = [1,2,3,4,5]
list_of_integers(numbers)

[1, 4, 9, 16, 25]

7. Create a function that calculates the factorial of a number using a for loop.

In [ ]:
def factorial_iterative(n):
    result = 1
    for i in range(1, n + 1):
        result *= i  # Multiply result by i
    return result

print(factorial_iterative(5))

120

9. Implement a function that calculates the sum of all even numbers in a given range.

In [ ]:
def sum_of_even_nums():
  sum_even = 0
  x =  range(1,5)
  for i in x:
    if (i % 2) == 0:
      sum_even +=  i
  return sum_even
sum_of_even_nums()

6

#Part 4:


1. Write a function that takes a list of integers and returns the sum of all numbers in the list using a while loop.

In [ ]:
def list_of_ints(list):
  indx = 0
  total = 0
  while indx < len(list):
    total += list[indx]
    indx += 1
  return total
list_of_ints([1,2,3])

6

2. Implement a function that takes a list of strings and returns the number of strings that contain the letter 'a' using a while loop.

In [ ]:
def list_of_strings(string):
  count =  0
  i = 0
  while i < len(string):
    if 'a' in string[i]:
      count += 1
    i += 1
  return count
list_of_strings(["Strawberry","Cherry","Orange"])

2

3. Create a function that takes a list of integers and returns the largest number in the list using a while loop.

In [ ]:
def largest_number(nums_list):
  largest_num = nums_list[0]
  i = 0
  while i < len(nums_list):
    if nums_list[i] > largest_num:
      largest_num = nums_list[i]
    i += 1
  return largest_num
largest_number([1,2,3,5,9])

9

4. Write a function that takes a list of integers and returns the number of even numbers in the list using a while loop.

In [ ]:
def find_even_number(even_list):
  count = 0
  i = 0
  while i < len(even_list):
    if even_list[i] %2 == 0:
      count += 1
    i += 1
  return count
find_even_number([1,2,3,5,9,4])

2

5. Implement a function that takes a list of integers and returns a new list with all numbers multiplied by 3 using a while loop.

In [ ]:
def list_of_integers(numbers):
  new_list = []
  i = 0
  while i < len(numbers):
    new_list.append(numbers[i] * 3)
    i += 1
  return new_list
list_of_integers([2,3,4])

[6, 9, 12]

10. Write a program that validates user input (e.g., user must enter a positive integer) using a while loop.

In [ ]:
user_input =  int(input("Enter a number:"))
while user_input:
  if user_input > 0:
     print("Valid Input")
     break
  print("Invalid Input")

Enter a number:8
Valid Input

11. Create a function that implements a simple calculator with a while loop for continuous operations.

In [ ]:
def calculator():
  while True:
    print("1.Addition")
    print("2.Subtraction")
    print("3.Multiplication")
    print("4.Division")
    print("5.Exit")

    choice = int(input("Enter your choice:"))
    if choice == 5:
      print("Exiting Loop")
      break
    num1 =  int(input("Enter first number: "))
    operation = input("Enter an operation to be performed: '+', '-', '*', '/' ")
    num2 =  int(input("Enter second number: "))

    if operation == '+':
      print(num1 + num2)
    elif operation == '-':
      print(num1 - num2)
    elif operation == '*':
      print(num1 * num2)
    elif operation == '/':
      print(num1 / num2)
    return

calculator()

1.Addition
2.Subtraction
3.Multiplication
4.Division
5.Exit
Enter your choice:2
Enter first number: 4
Enter an operation to be performed: '+', '-', '*', '/' -
Enter second number: 2
2