<a href="https://colab.research.google.com/github/SabaSiyal97/SE-Assignment/blob/master/Saba's5th.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment # 5: Higher Order Functions & Error Handling

# Basic Concepts (Questions 1-10):

1. Write a Python program that uses `enumerate()` to print out the index and value of each character in the string "Python is awesome!".

In [ ]:
string = "Python is awesome!"
for index, char in enumerate(string, start = 1):
  print(f"{index}: {char}")

1: P
2: y
3: t
4: h
5: o
6: n
7:
8: i
9: s
10:
11: a
12: w
13: e
14: s
15: o
16: m
17: e
18: !

2. Create two lists: `names = ['Alice', 'Bob', 'Charlie']` and `ages = [25, 30, 35]`. Use `zip()` to create a list of tuples where each tuple contains a name and an age.

In [ ]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
for names, ages in zip(names, ages):
  print(f"{names}: {ages}")

Alice: 25
Bob: 30
Charlie: 35

3. Write a lambda function that takes a number and returns its cube. Use this lambda function with `map()` to cube all numbers in the list `[1, 2, 3, 4, 5]`.

In [ ]:
cube = lambda x:x**3
list(map(cube,[1,2,3,4]))

[1, 8, 27, 64]

4. Create a list of temperatures in Celsius: `celsius = [0, 10, 20, 30, 40]`. Use `map()` and a lambda function to convert these temperatures to Fahrenheit (formula: F = C * 9/5 + 32).

In [ ]:
celsius = [0, 10, 20, 30, 40]
temp = lambda x: x * 9/5 + 32
fahrenheit = list(map(temp, celsius))
print(fahrenheit)

[32.0, 50.0, 68.0, 86.0, 104.0]

5. Write a program that uses `filter()` and a lambda function to keep only the words longer than 3 characters from the list `['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']`.

In [ ]:
abc = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
lam = lambda x: len(x)>3
list1 = list(filter(lam,abc))
print(list1)

['quick', 'brown', 'jumps', 'over', 'lazy']


6. Create a global variable `count` set to 0. Write a function that increments this global variable. Call the function multiple times and print the final value of `count`.

In [ ]:
count = 0

def increment():
    global count
    count += 1
    print(count)

increment()
increment()

1
2

7. Write a program that prompts the user to enter two numbers and performs division. Use a `try-except` block to handle the `ZeroDivisionError` that occurs if the second number is zero.

In [ ]:
try:
  number1 = int(input("Enter first number: "))
  number2 = int(input("Enter second number: "))
  result = number1 / number2
  print(result)
except ValueError:
  print("That's not a valid input!")
except ZeroDivisionError:
  print("You cannot divide by zero!")

Enter first number: 2
Enter second number: 0
You cannot divide by zero!

8. Create a list of dictionaries representing books:
   ```python
   books = [
       {"title": "To Kill a Mockingbird", "author": "Harper Lee", "year": 1960},
       {"title": "1984", "author": "George Orwell", "year": 1949},
       {"title": "Pride and Prejudice", "author": "Jane Austen", "year": 1813}
   ]
   ```
   Use `lambda` and `sorted()` to sort this list by the year of publication.

In [ ]:
books = [
    {"title": "To Kill a Mockingbird", "author": "Harper Lee", "year": 1960},
    {"title": "1984", "author": "George Orwell", "year": 1949},
    {"title": "Pride and Prejudice", "author": "Jane Austen", "year": 1813}
]
print(sorted(books, key=lambda x: x['year']))

[{'title': 'Pride and Prejudice', 'author': 'Jane Austen', 'year': 1813}, {'title': '1984', 'author': 'George Orwell', 'year': 1949}, {'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'year': 1960}]


9. Write a higher-order function called `apply_twice` that takes a function and a value as arguments. It should apply the given function twice to the value and return the result. Test it with a simple function that adds 3 to a number.

In [ ]:
def function1(argument_1, argument_2):
    return argument_1(argument_1(argument_2))

def add_three(arg):
    return arg + 3
print(function1(add_three, 5))

11

10. Create a list of numbers. Use list comprehension with `enumerate()` to create a new list that contains tuples of (index, value) only for the even numbers in the original list.

In [ ]:
list_of_nums = [1,2,3,4,5]
tuples_of_even = [(index,value) for index,value in enumerate(list_of_nums) if value % 2 == 0]
print(tuples_of_even)

[(1, 2), (3, 4)]

# Intermediate Concepts (Questions 11-20)

11. Write a program that uses `zip()` to iterate over two lists simultaneously: `questions = ['name', 'quest', 'favorite color']` and `answers = ['Lancelot', 'the holy grail', 'blue']`. Print each question with its corresponding answer.

In [ ]:
questions = ['name', 'quest', 'favorite color']
answers = ['Lancelot', 'the holy grail', 'blue']

result = zip(questions , answers)
print(list(result))

[('name', 'Lancelot'), ('quest', 'the holy grail'), ('favorite color', 'blue')]


12. Create a list of temperatures: `temps = [32, 68, 95, 104, 212]`. Use `map()` and a lambda function to convert these temperatures from Fahrenheit to Celsius (formula: C = (F - 32) * 5/9). Round the results to two decimal places.

In [ ]:
temps = [32, 68, 95, 104, 212]
fahrenheit_to_celsius = lambda x: (x - 32) * 5/9
conversion = list(map(fahrenheit_to_celsius, temps))
rounded_conversion = list(map(lambda x: round(x, 2), conversion))
print(rounded_conversion)

[0.0, 20.0, 35.0, 40.0, 100.0]

13. Write a function that takes a list of strings and returns a new list with the strings sorted by length. Use this function with `sorted()` and a lambda function to sort the list `['python', 'is', 'a', 'powerful', 'language']`.

In [ ]:
unsorted_list = ['python', 'is', 'a', 'powerful', 'language']
sorted_list = sorted(unsorted_list, key=len)
print(sorted_list)

['a', 'is', 'python', 'powerful', 'language']

14. Create a list of dictionaries representing products:
    ```python
    products = [
        {"name": "Laptop", "price": 1000, "stock": 5},
        {"name": "Phone", "price": 500, "stock": 10},
        {"name": "Tablet", "price": 300, "stock": 8}
    ]
    ```
    Use `filter()` and a lambda function to create a new list of products that are in stock (stock > 0) and cost less than $600.

In [ ]:
products = [
    {"name": "Laptop", "price": 1000, "stock": 5},
    {"name": "Phone", "price": 500, "stock": 10},
    {"name": "Tablet", "price": 300, "stock": 8}
]

instock_products = list(filter(lambda x:x['stock']>0 and x['price']<600 , products))
print(instock_products)

[{'name': 'Phone', 'price': 500, 'stock': 10}, {'name': 'Tablet', 'price': 300, 'stock': 8}]

15. Write a program that prompts the user to enter a sentence. Use `map()` and a lambda function to create a list of the lengths of each word in the sentence.

In [ ]:
sentence = input("Enter a sentence: ")
length_list = list(map(lambda x: len(x),sentence.split()))
print(length_list)

Enter a sentence: saba is a good girl
[4, 2, 1, 4, 4]


16. Create a function called `safe_divide` that takes two parameters and returns their division. Use a try-except block inside the function to handle potential `ZeroDivisionError` and `TypeError` exceptions. Test the function with various inputs.

In [ ]:
def safe_divide(num1,num2):
  try:
    division_result = num1 / num2
  except ZeroDivisionError:
    return "You can't divide by 0."
  except TypeError:
    return "Invalid input!"
  return division_result
print(safe_divide(5,0))
print(safe_divide(2,'3'))
print(safe_divide(2,4))

You can't divide by 0.
Invalid input!
0.5

17. Write a higher-order function called `operate` that takes an operator function and two numbers as arguments. It should apply the operator function to the numbers and return the result. Test it with lambda functions for addition, subtraction, multiplication, and division.

In [ ]:
def operate(func, num1,num2):
  return func(num1,num2)
add = lambda x,y: x+y
print(operate(add, 4,7))
subtract = lambda x,y: x-y
print(operate(subtract, 12,7))
multiply = lambda x,y: x*y
print(operate(multiply, 4,2))
divide = lambda x,y: x/y
print(operate(divide, 4,3))

11
5
8
1.3333333333333333

18. Create a list of numbers. Use `enumerate()`, `filter()`, and a lambda function to create a new list of tuples (index, value) only for the numbers at even indices in the original list.

In [ ]:
list_of_numbers = [20,13,67,76,23,89,97,34]
even_index_list = list(filter(lambda x: x[0] %2 == 0, enumerate(list_of_numbers)))
print(even_index_list)

[(0, 20), (2, 67), (4, 23), (6, 97)]

19. Write a program that uses `zip()` and list comprehension to find the element-wise maximum of two lists of numbers.

In [ ]:
list1 = [1,23,35,4]
list2 = [51,61,7,89]
max_list = [max(a,b) for a,b in zip(list1,list2)]
print(max_list)

[51, 61, 35, 89]

20. Create a function that takes a string as input and uses `filter()` and a lambda function to remove all vowels from the string. The function should return the modified string.

In [ ]:
def remove_vowels(string):
  vowels = "aeiouAEIOU"
  modified_list= filter(lambda char: char not in vowels, string)
  return ''.join(modified_list)
remove_vowels("Hello how are you")

'Hll hw r y'

# Advanced Concepts (Questions 21-25)


21. Write a function that takes a nested list of numbers and uses a combination of `map()`, `lambda`, and list comprehension to flatten the list and calculate the sum of all numbers.

In [ ]:
def nested(nested_list):
  nested_list = [[1,2,3],[4,5,6],[7,8,9]]
  flattened_list = list(map(lambda sublist: sublist, nested_list))
  flattened_list = sum(flattened_list, [])
  total = sum(flattened_list)
  return total
nested(nested_list= [[1,2,3],[4,5,6],[7,8,9]])

45

22. Create a list of tuples representing x and y coordinates: `points = [(1, 2), (3, 1), (2, 4), (4, 3)]`. Use `lambda` and `sorted()` to sort this list based on the distance of each point from the origin (0, 0). (Hint: distance = sqrt(x^2 + y^2))

In [ ]:
points = [(1, 2), (3, 1), (2, 4), (4, 3)]
distance = lambda x: (x[0]**2+x[1]**2)**0.5
sorted(points,key=distance)
print(points)

[(1, 2), (3, 1), (2, 4), (4, 3)]

23. Write a function that takes a list of strings and uses `map()` with a lambda function to create a new list where each string is replaced by a tuple containing the string and its reverse.

In [ ]:
def reverse_string(string):
  new_list = list(map(lambda x: x[::-1],string))
  return new_list
reverse_string(['saba'])

['abas']

24. Create a higher-order function called `compose` that takes two single-parameter functions as arguments and returns a new function that applies these functions in sequence. Test it with simple functions like doubling a number and adding 5.

In [ ]:
def compose(func1,func2):
  return lambda x: func1(func2(x))
def doubling_number(x):
  return x * 3
def adding_five(x):
  return x + 5
result_of_composed = compose(doubling_number,adding_five)
result_of_composed(3)

24

25. Write a program that uses `filter()` and `map()` together to process a list of numbers: first filter out all numbers that are not divisible by 3, then square the remaining numbers.

In [ ]:
number_list = [1,2,3,4,5,6,7,8]
filter_list = list(filter(lambda x: x%3==0,number_list))
remaining_numbers = list(map(lambda x: x**2,filter_list))
remaining_numbers

[9, 36]