<a href="https://colab.research.google.com/github/SabaSiyal97/SE-Assignment/blob/master/Sabas3rd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

21. Create a program that takes a boolean value as input and prints its string representation.

In [ ]:
bool_input = input("Enter a boolean value (True/False): ")
print(str(bool_input))
print(type(bool_input))

Enter a boolean value (True/False): False
False
<class 'str'>

22. Write a function that takes a person's name as an argument and returns a greeting message.

In [ ]:
name = input("Enter your name: ")
greetings = ("Hello " + name)

print(greetings)

Enter your name: Saba
Hello Saba

23. Create a function that takes an integer as input and prints whether it is even or odd.

In [ ]:
num = int(input("Enter a number to check whether it's even or odd: "))

if num % 2 == 0:
        print(f"{num} is Even")
else:
        print(f"{num} is Odd")

Enter a number to check whether it's even or odd: 11
11 is Odd

24. Write a program that takes a number as input and prints whether it is within the range of 1 to 100 (inclusive).

In [ ]:
num = int(input("Enter any number: "))

if 1 <= num <= 100:
 print(f"{num} is within the range.")
else:
  print(f"{num} is not in range.")

Enter any number: 6666
6666 is not in range.

25. Create a function that calculates the volume of a cube given its side length.

In [ ]:
def cube_volume(length,width,height):
 volume = length*width*height
 print(f"Volume of cube is: {volume}")
cube_volume(5,2,7)

Volume of cube is: 70

26. Create a function that calculates the average of three integers.

In [ ]:
a=int(input("Enter first number: "))
b=int(input("Enter first number: "))
c=int(input("Enter first number: "))

average = (a+b+c)/3
print(average)

Enter first number: 22
Enter first number: 4
Enter first number: 9
11.666666666666666

27. Create a function that converts a decimal number to its binary representation.

In [ ]:
def decimal_to_binary(decimal):
 conversion = bin(decimal)
 return conversion
decimal_to_binary(12)

'0b1100'

28. Write a program that takes three floats as input and prints True if all values are equal, otherwise False.

In [ ]:
num1 = float(input("Enter first float value: "))
num2 = float(input("Enter second float value: "))
num3 = float(input("Enter third float value: "))

if num1 == num2 == num3:
  print(True)
else:
  print(False)

Enter first float value: 12
Enter second float value: 44
Enter third float value: 1
False

29. Write a program that takes two integers as input and prints True if their sum is greater than 100, otherwise False.

In [ ]:
num1 = int(input("Enter first value: "))
num2 = int(input("Enter second value: "))

if num1 + num2 > 100:
  print(True)
else:
  print(False)

Enter first value: 1
Enter second value: 1
False

30. Write a function that takes a string and an integer as arguments and returns a new string with the integer inserted at the beginning.

In [ ]:
def number_string(number,string):
 new_str = str(number)+ " " + string
 return new_str
number_string(13,"Saba")

'13 Saba'

31. Write a program that takes an integer as input and prints whether it is positive, negative, or zero.

In [ ]:
n = int(input("Enter number: "))

if n > 0:
        print("The number is positive.")
elif n < 0:
        print("The number is negative.")
else:
        print("The number is zero.")

Enter number: 3
The number is positive.

32. Create a function that takes three numbers and returns the largest among them.

In [ ]:
def find_largest(num1, num2, num3):
    return max(num1, num2, num3)

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

largest = find_largest(num1, num2, num3)
print(f"The largest number is: {largest}")

Enter the first number: 22
Enter the second number: 66
Enter the third number: 99
The largest number is: 99

33. Create a function that takes a string representing a day of the week (e.g., "Monday") and prints whether it is a weekday or a weekend.

In [ ]:
def find_week(day):
    if day == "Saturday" or "Sunday":
        return "Weekend"
    else:
        return "Weekday"

day = str(input("Enter the day: "))
result = find_week(day)
print(result)

Enter the day: Saturday
Weekend

34. Write a program that converts temperature from Celsius to Fahrenheit. Ask the user for the temperature in Celsius and print the result in Fahrenheit. (Formula: F = C * 9/5 + 32)

In [ ]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = celsius * 9/5 + 32
    return fahrenheit

celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = celsius_to_fahrenheit(celsius)
print(f"The temperature in Fahrenheit is: {fahrenheit:.2f}°F")

Enter temperature in Celsius: 44
The temperature in Fahrenheit is: 111.20°F

35. Write a program that takes a temperature in Celsius as input and prints whether it is cold (below 10°C), warm (10°C to 25°C), or hot (above 25°C).

In [ ]:
def category_of_temp(celsius):
    if celsius < 10:
        return "cold"
    elif 10 <= celsius <= 25:
        return "warm"
    else:
        return "hot"

temperature = int(input("Enter the temperature in Celsius: "))
category = category_of_temp(temperature)
print(f"The temperature is {category}.")

Enter the temperature in Celsius: 12
The temperature is warm.

36. Write a function that takes a string and a boolean as arguments and returns the string repeated twice (‘stringstring’) if the boolean is True, otherwise returns an empty string.

In [ ]:
def function(Saba,shorty):
  if shorty:
    return shorty + shorty
  else:
    return " "
input_string = input("Enter a string: ")
input_boolean = input("Enter True or False: ")
result = function(input_string, input_string)
print(f"Result: '{result}'")

Enter a string: saba
Enter True or False: True
Result: 'sabasaba'

37. Write a program that asks for the user's age and prints whether they are a child (0-12), teenager (13-19), adult (20-59), or senior (60+).

In [ ]:
age = int(input("Enter your age: "))

if age >= 0 and age <=12:
 print("Child")
elif age >= 13 and age <=19:
  print("Teenager.")
elif age >= 20 and age <=59:
  print("Adults.")
else:
  print( "Seniors.")

Enter your age: 22
Adults.

38. Create a function that converts a numerical grade to a letter grade according to the following scale:
    - 90-100: A
    - 80-89: B
    - 70-79: C
    - 60-69: D
    - Below 60: F
   The function should return "Invalid" if the input is not between 0 and 100.

In [ ]:
grade = int(input("Enter marks: "))

if 90 <= grade <= 100:
    print("A")
elif 80 <= grade <= 89:
    print("B")
elif 70 <= grade <= 79:
    print("C")
elif 60 <= grade <= 69:
    print("D")
elif 0 <= grade < 60:
    print("F")
else:
    print("Invalid")

Enter marks: 44
F

39. Write a program that determines if a year is a leap year. (A leap year is divisible by 4, except for century years, which must be divisible by 400).

In [ ]:
year = int(input("Enter the year: "))

if year % 100 == 0 and year % 400 == 0:
  print(f"{year} is a Leap year.")
elif year % 4 == 0 and year % 100 != 0:
  print(f"{year} is a Leap year.")
else:
  print(f"{year} is a Not a Leap year.")

Enter the year: 2005
2005 is a Not a Leap year.

40. Create a simple calculator program that asks for two numbers and an operation (+, -, *, /), then prints the result. Use if-elif-else statements.

In [ ]:
num1 = int(input("Enter first number: "))
operation = input("Enter an operation (+, -, *, /): ")
num2 = int(input("Enter second number: "))

if operation == "+":
  print(num1+num2)
elif operation == "-":
  print(num1-num2)
elif operation == "*":
  print(num1*num2)
elif operation == "/":
  print(num1/num2)
else:
  print("Invalid Operator.")

Enter first number: 6
Enter an operation (+, -, *, /): *
Enter second number: 2
12