<a href="https://colab.research.google.com/github/SabaSiyal97/SE-Assignment/blob/master/Saba's4th.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment 4: Dictionaries and Comprehensions

#Part 1: Easy Questions


1. Create a Dictionary
   Create a dictionary named `student` that contains the following keys and values: `name` (your name), `age` (your age), and `major` (your major).

In [ ]:
student = {
    "name":"Saba",
    "age":22,
    "major":"BSCS" }
print(student)

{'name': 'Saba', 'age': 22, 'major': 'BSCS'}

2. Access Dictionary Values  
   Using the dictionary from Question 1, print the student's name and age.

In [ ]:
name = student.get("name")
age = student.get("age")
print(f"Hello, My name is {name} and My age is {age}.")

Hello, My name is Saba and My age is 22.

3. Add a Key-Value Pair  
   Add a new key-value pair to the `student` dictionary for `graduation_year` (e.g., 2025).

In [ ]:
student["graduation_year"] = 2025
print(student)

{'name': 'Saba', 'age': 22, 'major': 'BSCS', 'graduation_year': 2025}

4. Remove a Key
   Remove the `age` key from the `student` dictionary and print the updated dictionary.

In [ ]:
student.pop("age")
print(student)

{'name': 'Saba', 'major': 'BSCS', 'graduation_year': 2025}

5. Check for Key Existence
   Write a function that checks if the key `major` exists in the `student` dictionary and returns `True` or `False`.

In [ ]:
def key_check(student):
  if "major" in student.keys():
    return True
  else:
    return False
key_check(student)

True

6. Create a List of Squares  
   Use a list comprehension to create a list of the squares of the numbers from 1 to 10.

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]
squares = [x**2 for x in numbers]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

7. Filter Even Numbers  
   Using a list comprehension, create a list of even numbers from a given list: `numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`.

In [ ]:
even_numbers = [y for y in range(1,11) if y %2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

8. Create a Dictionary from Two Lists  
   Given two lists, `keys = ['a', 'b', 'c']` and `values = [1, 2, 3]`, create a dictionary using a dictionary comprehension.

In [ ]:
given_two_lists = {"keys": ['a','b','c'], "values": [1,2,3]}
print(given_two_lists)

{'keys': ['a', 'b', 'c'], 'values': [1, 2, 3]}

9. Count Character Frequency  
   Write a function that takes a string and returns a dictionary with the frequency of each character in the string.

In [ ]:
def dict_function(string):
  new_dict = {}
  for i in string:
    if i in new_dict:
      new_dict[i] += 1
    else:
      new_dict[i] = 1
  return new_dict
dict_function("SabaS")

{'S': 2, 'a': 2, 'b': 1}

10. Nested Dictionary Access  
    Given the following nested dictionary:
    ```python
    data = {'student1': {'name': 'Alice', 'age': 20}, 'student2': {'name': 'Bob', 'age': 22}}
    ```
    Access and print the name of `student2`.

In [ ]:
data = {'student1': {'name': 'Alice', 'age': 20}, 'student2': {'name': 'Bob', 'age': 22}}
print(data['student2']['name'])

Bob

#Part 2: Medium Question

 11. List Comprehension with Conditions  
    Create a list of the first 10 Fibonacci numbers using a list comprehension.

In [ ]:
n = 10
list1 = [0,1]

[list1.append(list1[-2]+list1[-1]) for i in range(2,n)]
print(list1)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

12. Dictionary Comprehension with Conditions  
    Create a dictionary that maps numbers from 1 to 10 to their cubes, but only include numbers that are odd.

In [ ]:
cube_dict = {n: n**3 for n in range(1,11) if n % 2 != 0}
print(cube_dict)

{1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

13. Flatten a List of Lists  
    Given a list of lists: `nested_list = [[1, 2], [3, 4], [5, 6]]`, use a list comprehension to flatten it into a single list.

In [ ]:
nested_list = [[1, 2], [3, 4], [5, 6]]
flattened_list = [i for sublist in nested_list for i in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6]

14. Extract Keys from a Dictionary  
    Write a function that takes a dictionary and returns a list of its keys.

In [ ]:
def my_dict(dict):
  list_of_keys = []
  for key in dict:
    list_of_keys =  dict.keys()
  return list_of_keys
my_dict({"name": "Saba", "age": 22})

dict_keys(['name', 'age'])

15. Combine Dictionaries  
    Given two dictionaries, `dict1 = {'a': 1, 'b': 2}` and `dict2 = {'b': 3, 'c': 4}`, create a new dictionary that combines them, summing the values for duplicate keys.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

16. Create a Dictionary from a String  
    Write a function that takes a string and returns a dictionary with each word as a key and its length as the value.

In [ ]:
def string_dict(string):
  new_dict = {}
  for char in string:
    if char in new_dict:
      new_dict[char] += 1
    else:
      new_dict[char] = 1
  return new_dict
string_dict("saba is a good girl")

{'s': 2,
 'a': 3,
 'b': 1,
 ' ': 4,
 'i': 2,
 'g': 2,
 'o': 2,
 'd': 1,
 'r': 1,
 'l': 1}


17. List of Tuples to Dictionary  
    Given a list of tuples: `pairs = [('a', 1), ('b', 2), ('c', 3)]`, create a dictionary using a dictionary comprehension.

In [ ]:
pairs = [('a', 1), ('b', 2), ('c', 3)]
my_dict = {key: value for key, value in pairs}
print(my_dict)
print(type(my_dict))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

18. Create a List of Unique Characters  
    From the string `text = "hello world"`, create a list of unique characters using a set and then convert it to a list.

In [ ]:
text_list = "hello world"
s = set(text_list)
s = list(s)
print(s)

['r', 'w', 'd', 'e', 'h', ' ', 'l', 'o']


19. Inverting a Dictionary  
    Given a dictionary `original = {'a': 10, 'b': 20, 'c': 30}`, create a new dictionary that inverts the keys and values.

In [ ]:
original = {'a': 10, 'b': 20, 'c': 30}
inverted_dict = {}
for key,value in original.items():
  inverted_dict[value] = key
print(inverted_dict)

{10: 'a', 20: 'b', 30: 'c'}

20. Count Vowel Frequency  
    Write a function that takes a string and returns a dictionary with the frequency of each vowel (a, e, i, o, u).

In [ ]:
def dict_function(string):
  new_dict = {}
  for i in string:
    if i in new_dict:
      new_dict[i] += 1
    else:
      new_dict[i] = 1
  return new_dict
dict_function('a,e,i,o,u')

{'a': 1, ',': 4, 'e': 1, 'i': 1, 'o': 1, 'u': 1}

# Part 3: Hard Questions

21. Group by Length  
    Given a list of words, create a dictionary that groups the words by their length. For example, `['cat', 'dog', 'elephant', 'bat']` should result in `{3: ['cat', 'dog', 'bat'], 8: ['elephant']}`.

In [ ]:
animals = ['cat', 'dog', 'elephant', 'bat']
length_dict = {}
for animal in animals:
  key = len(animal)
  if key not in length_dict:
    length_dict[key] = []
  length_dict[key].append(animal)
print(length_dict)

{3: ['cat', 'dog', 'bat'], 8: ['elephant']}

22. Create a Frequency Dictionary  
    Write a function that takes a list of integers and returns a dictionary where the keys are the integers and the values are their frequencies in the list.

In [ ]:
def list_of_ints(numbers):
  new_dict =  {}
  for number in numbers:
    if number not in new_dict:
       new_dict[number] = numbers.count(number)
  return new_dict
list_of_ints([1,2,3,3,3,4,4,5])

{1: 1, 2: 1, 3: 3, 4: 2, 5: 1}

23. Nested Dictionary Comprehension  
    Create a nested dictionary comprehension that generates a multiplication table for numbers 1 through 5.

In [ ]:
nested_multiplication_dict = {i:{j: i * j for j in range(1,6)} for i in range(1,6)}
for key,value in nested_multiplication_dict.items():
  print(key,value)

1 {1: 1, 2: 2, 3: 3, 4: 4, 5: 5}
2 {1: 2, 2: 4, 3: 6, 4: 8, 5: 10}
3 {1: 3, 2: 6, 3: 9, 4: 12, 5: 15}
4 {1: 4, 2: 8, 3: 12, 4: 16, 5: 20}
5 {1: 5, 2: 10, 3: 15, 4: 20, 5: 25}

24. Sort Dictionary by Value  
    Given a dictionary `scores = {'Alice': 85, 'Bob': 95, 'Charlie': 80}`, create a new dictionary sorted by scores in descending order.

In [ ]:
scores = {'Alice': 85, 'Bob': 95, 'Charlie': 80}
sorted_dict = dict(zip(sorted(scores, key=scores.get,reverse=True),reversed(sorted(scores.values()))))
print(sorted_dict)

{'Bob': 95, 'Alice': 85, 'Charlie': 80}

25. Merge and Average Values  
    Given two dictionaries with student names as keys and their scores as values, merge them and calculate the average score for each student. For example:
    ```
    scores1 = {'Alice': 85, 'Bob': 90}
    scores2 = {'Alice': 95, 'Bob': 80, 'Charlie': 70}
    ```
    The result should be `{'Alice': 90.0, 'Bob': 85.0, 'Charlie': 70.0}`.

In [ ]:
scores1 = {'Alice': 85, 'Bob': 90}
scores2 = {'Alice': 95, 'Bob': 80, 'Charlie': 70}
merged_dict = {}

for i in scores1:
  if i in scores2:
    merged_dict[i] = (scores1[i]+scores2[i])/2
  else:
    merged_dict[i] = scores1[i]
for i in scores2:
  if i not in merged_dict:
    merged_dict[i] = scores2[i]
print(merged_dict)

{'Alice': 90.0, 'Bob': 85.0, 'Charlie': 70}